<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>667871058340-d17r5pkft0jc9k6jv968up663bn6q9av.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667871058340-d17r5pkft0jc9k6jv968up663bn6q9av</string>
	<key>API_KEY</key>
	<string>AIzaSyDm-I_NEdN_i2KJK7tUroahdOY_LUH0iUs</string>
	<key>GCM_SENDER_ID</key>
	<string>667871058340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.live.spott</string>
	<key>PROJECT_ID</key>
	<string>spott-f60d4</string>
	<key>STORAGE_BUCKET</key>
	<string>spott-f60d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667871058340:ios:7d606ec635a5dde3</string>
	<key>DATABASE_URL</key>
	<string>https://spott-f60d4.firebaseio.com</string>
</dict>
</plist>